{
    "twitterInfo": {
        "auth": {
            "apiKey": "pAeROf1TLat6zyVk82Ww",
            "accountKey": "576620271-IK5nrKUZEY5Wy25JlTVQtJ11jHrGqPYNC0ur7uY7",
            "accountSecret": "FXKgFEoKTXujKaUtvfsIoSIVE3bBmMdiKq5YI6AnZImAG",
            "apiSecret": "gPnk6LutpFds0aLuoTJBHy9GAIaGYn09o8Ogu9REaE"
        }
    }
}
